<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
       <!--ADD!!! TITLE!!!-->

  </head>
  <body class="bg-dark">
    <div id="page-content">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand mr-3">Navigation</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/user/home" class="nav-item nav-link active">Home</a>
                        <a href="/user/search" class="nav-item nav-link active">Search</a>
                        <a href="/user/storage-fees" class="nav-item nav-link active">Storage Fees</a>
                        <a href="/logout" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </div>    
        </nav>
    
        <header class="masthead bg-secondary text-white text-center mb-5 bg-secondary">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="" alt="" />
                <h1 class="masthead-heading text-uppercase mb-0">Delivery Solutions</h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-5">Quick and Easy Access for all Parties Involved</p>
            </div>
        </header>

<div class="container text-white">
    <h3>Storage Fees</h3>

    <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Client Name</th>
            <th scope="col">Volume</th>
            <th scope="col">Date Entered</th>                       
            <th scope="col">Unpaid Storage</th>
            <th scope="col">Due Date</th>
            <th scope="col">Date Last Paid</th>
          </tr>
        </thead>
                {% for choice in data %}

                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{choice.get(dbkeys[0])}}</td>
                        <td>{{choice.get(dbkeys[3])}}</td>
                        <td>{{choice.get(dbkeys[4])}}</td>
                        <td>{{choice.get(dbkeys[5])}}</td>
                        <td>{{choice.get(dbkeys[10])}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        {{ link | safe }}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
    </html>