{% extends "admin/index.html" %}

{% block title %}User Management{% endblock %}
{% block head %}
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/home.css') }}">-->
{% endblock %}

{% block nav %}
{{super()}}
<li><a href="#">Create Users</a></li>
{% endblock %}

{% block content %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{title}}</legend>
                    {% if form.admin_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.admin_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if form.new_user_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.new_user_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                        <div class="form-check">
                            {{form.admin_password.label}}
                            {{form.admin_password}}
                            {{form.new_user_password.label}}
                            {{form.admin_password}}
                        </div>
                </fieldset>
                <div class="form-group">
                    <input type="submit" name="bsubmit" value="Submit">
                </div>
            </form>
        </div>
{% endblock %}